<h1> Hallo </h1>

<table>
	<tr>
		<th>name</th>
		<th>nachname</th>	
		<th>beschreibun</th>	
		<th>anzahl</th>
	</tr>
			<% @authors.each do |f| %>
	<td>
			<%= f.name %>
	</td>
	<td>
			<%= f.nachname %>
	</td>
	<td>
			<%= f.beschreibung %>
			
	</td>
	<td><%= f.anzahl %></td>

	<%end %>

	</table>