// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr {
	color:blue;
	border-top: dotted 2px;
}

h4 {
	color: blue;
}

.top {
	border: solid;

}

body {
    background-color: lightblue;
}
